body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 35%;
}

p {
    color: rgb(100, 100, 100);
}

/* style for calculator */
.calculator {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Updated to 5 columns */
    gap: 10px;
    max-width: 400px; /* Adjusted max-width for additional column */
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
    padding: 20px;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease;
    width: 100%;
}

.button:hover {
    background-color: #e0e0e0;
}

.display {
    grid-column: span 5; /* Updated to span 5 columns */
    text-align: right;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 28px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}